{
  "mcpServers": {
    "supabase": {
      "command": "cmd",
      "args": [
        "/c",
        "pnpm",
        "dlx",
        "@supabase/mcp-server-supabase@latest",
        "--read-only",
        "--project-ref=<project-ref>"
      ],
      "env": {
        "SUPABASE_ACCESS_TOKEN": "${SUPABASE_ACCESS_TOKEN}"
      }
    },
    "supabase-dev": {
      "command": "cmd",
      "args": [
        "/c",
        "pnpm",
        "dlx",
        "@supabase/mcp-server-supabase@latest",
        "--read-only",
        "--project-ref=<project-ref>"
      ],
      "env": {
        "SUPABASE_ACCESS_TOKEN": "${SUPABASE_DEV_ACCESS_TOKEN}"
      }
    }  }
}